html {
    background-color: #f4f1ea;
    font-family: "Segoe UI";
}

h2 {
    font-size:45px;
    margin-top: 60px;
    margin-bottom: 10px;
}

.all-quote-items{
    padding: 0px 250px;

}

select#id_filter_by {
    margin-left: 5px;
    font-size: 14px;
}
button {
    background-color: #6a4838;
    border: none;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
}

button:hover{
    background-color: #ffffff;
    color: #6a4838;
    cursor: pointer;
}

.quote-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: solid 0px 0px 0px 5px;
    margin: 10px 0px;
    border-color: gray;
    border: 0px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px #cdcdcd;
}
.search-top-bar{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.sort-filter{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.main-details{
    flex-basis:70%;
    margin: 0px 40px 0px 0px;
}

.quote-image{
    flex-basis: 15%;
    /* text-align: right;
    padding-right: 15px; */
}
.additional-details{
    flex-basis:15%;
    padding-left: 15px;
}

hr { 
    border-left: 1px solid darkgray;
    height:50px;
  } 

.quote {
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    margin: 5px;
}   

/* .quote-details{
    display: flex;
    flex-direction:column;
} */

.quote-author {
    font-size: 14px;
    /* font-weight: 700; */
    margin-bottom: 10px;
}

.quote-tag {
    font-size: 12px;
}

.quote-likes {
    display:flex;
    flex-direction:row;
    font-size: 12px;
    padding-top:5px;
}

.quote-number-of-likes{
    font-weight:700;
    margin-right:5px;
}

