<!DOCTYPE html>
<html lang="en">
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'search/success.css' %}">


<div class="all-quote-items">
    <h2>Quotify Results</h2>
    <div class="search-top-bar">
        <div>
            <p>
                Total of {{ len_data }} results ( {{ duration }} seconds)
            </p>
        </div>
        <div class="sort-filter">
            <form method="post", name="filter">
                {% csrf_token %}
                {{ form_filter }}
                <button type="submit">Filter</button>
            </form>
        </div>
    </div>
    {% for i in data %}
    <div class="quote-item">
            <div class="main-details">
                <div class="quote"> 
                    "{{ i.quote|first }}"
                </div>    
                <div class="quote-author">
                    -- {{ i.author|first }} 
                </div>    
            </div>
            <div class="quote-image"> <img alt="" src={{ i.image|first }} > </div>

            <hr>

            <div class="additional-details">
                <div class="quote-tag">
                {{ i.tag|first }}
                </div>
                <div class="quote-likes">
                    <div class="quote-number-of-likes"> {{ i.likes}} </div> likes
                </div>
            </div>

        </div>  
    {% endfor %}
</div>
</html>
